<div class="hidden-print" style="position:fixed; background:white; white-space:nowrap; width:100%;">
	<div class="navbar-header hide-threshold" style="background-color:#e7e7e7; width:14%; margin-right:-1px; text-align:center; overflow:hidden;">
		<a class="navbar-brand" style="float:none;display:block;" href="#">Simon Tang</a>
	</div>
	<ul class="nav nav-tabs nav-justified">
		<li class="{{(tab=='resume'&&'active'||'')}}" id="res"><a href="index.html">Resume</a></li>
		<li class="{{(tab=='projects'&&'active'||'')}}"><a href="projects.html">Projects</a></li>
		<li class="{{(tab=='aboutme'&&'active'||'')}}"><a href="aboutme.html">About Me</a></li>
	</ul>
</div>
<a class="navbar-brand hidden-print" style="float:none;display:block;"></a>