.nav-stacked{
  background-color: #e7e7e7;
  text-align:center;
  height:10000px;
}

.nav-pills>li>a:hover{
  #background-color: #e6f3f7;
  background-color: #ffffff;
  border-radius: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #ffffff;
  border-radius: 0px;
  color: black;
  font-weight: bold;
}

@media (min-width:950px){
	.show-threshold {
		display: none !important;
	}
	.hide-threshold {
	}
	.show-sm-screen {
		display: none !important;
	}
}

@media (max-width:950px){
	.shrink-threshold{
		width: 100% !important;
	}
	.hide-threshold {
		display: none !important;
	}
	.show-sm-screen {
		display: none !important;
	}
}

@media (max-width:650px){
	.hide-sm-screen{
		display: none !important;
	}
	.show-sm-screen {
		display: inherit !important;
	}
}

@media print{
	.modal {
		display: none;
		position: absolute;
	}
	.modal-dialog {
		display: none;
	}
	.modal-backdrop {
		display: none;
	}
	.modal-open {
		padding: inherit;
		margin: inherit;
	}
	technology {
		display: none;
	}
	.show-threshold, .show-sm-screen {
		display: none !important;
	}
	.hide-threshold, .hide-sm-screen {
		display: inherit !important;
	}
	#navbar{
		display: none !important;
	}
}

.nav-justified > li {
	display: table-cell;
	width: 1%;
}
.nav-justified > li > a  {
	border-bottom: 1px solid #ddd !important;
	border-radius: 4px 4px 0 0 !important;
	margin-bottom: 0 !important;
}

.nav-justified > .active > a  {
	border-bottom: 0px solid #ddd !important;
	border-radius: 4px 4px 0 0 !important;
	margin-bottom: 0 !important;
}



a.mytooltip {outline:none; }
a.mytooltip strong {line-height:30px;}
a.mytooltip:hover {text-decoration:none;} 
a.mytooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.mytooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.mytooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

a.keyword {
	cursor: pointer;
}

.content {
	line-height:150%;
	width: 85%;
	display:inline-block;
	vertical-align:text-top;
}

#navbar {
	width: 14%;
	text-align:center;
	display:inline-block;
	vertical-align:text-top;
}